.sectionCardHome {
    background-color: white;
    min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 0;
}

.tittleImage {
    right: 12%;
    position: absolute;
    bottom: 20%;
    font-size: 30px;
    color: white !important;
    text-align: right;
}

.tittleImage a {
    color: white !important;
}

.backImage {
    background-image: url("Rectangle 1557.png"), url("xbxb.png");
    background-size: cover;
    min-height: 29vh;
    border-radius: 10px;
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 10px;

}

.backImage1 {
    background-image: url("Rectangle 1557.png"), url("iStock-1011244876-1200x800.png");
    background-size: cover;
    min-height: 29vh;
    border-radius: 10px;
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 10px;

}

.backImage2 {
    background-image: url("Rectangle 1557.png"), url("10_tips_blog.png");
    background-size: cover;
    min-height: 29vh;
    border-radius: 10px;
    width: 85%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
    padding: 30px 10px;

}

.hoverText {
    transform: translateY(100px);
    opacity: 0;
    text-align: right;
    transition: all .8s;
    visibility: hidden;
    display: flex;

}

.hoverTextActive {
    transform: translateY(0);
    opacity: 1;
    text-align: right;
    transition: all .8s;
   visibility: visible;
    display: flex;
}
.hoverIcon{
    transform: translateX(-50px);
    opacity: 0;
    transition: all 1s;
}
.hoverIconActive{
    transform: translateX(0);
    opacity: 1;
    transition: all 1s;
}
.hoverTitle{
    transform: translateY(50px);
    transition: all .8s;
}
.hoverTitleActive{
    transform: translateY(0);
    transition: all .8s;
}


@media screen and (min-width: 768px) and (max-width: 991px) {
    .tittleImage {
        right: 25%;
    }

    .backImage {
        background-image: url("Rectangle 1557.png"), url("xbxb.png");
        background-size: cover;
        min-height: 30vh;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }

    .backImage1 {
        background-image: url("Rectangle 1557.png"), url("iStock-1011244876-1200x800.png");
        background-size: cover;
        min-height: 30vh;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }

    .backImage2 {
        background-image: url("Rectangle 1557.png"), url("10_tips_blog.png");
        background-size: cover;
        min-height: 30vh;
        border-radius: 10px;
        width: 80%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }


}

@media screen and (min-width: 992px) {
    .backImage {
        background-image: url("Rectangle 1557.png"), url("xbxb.png");
        background-size: cover;
        min-height: 27vh;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }

    .backImage1 {
        background-image: url("Rectangle 1557.png"), url("iStock-1011244876-1200x800.png");
        background-size: cover;
        min-height: 27vh;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }

    .backImage2 {
        background-image: url("Rectangle 1557.png"), url("10_tips_blog.png");
        background-size: cover;
        min-height: 27vh;
        border-radius: 10px;
        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: flex-end;
        padding: 30px 10px;

    }


}


